__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
*.sqlite3
.git
.python-version
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.DS_Store
db.sqlite3
.env
.env.local
*.md
*.eot
*.svg
*.ttf
*.gz
*.woff
*.woff2
*.json
*.js
*.css
*.map
*.png